div.editor
    // Take as much width as possible, but no more than 48 em.
    max-width: 48em
    width: 100%

    text-align: justify

    // Add padding around page contents
    margin: 32px 0 32px 0
    > *
        margin-left: 24px
        margin-right: 24px

    // Element styles
    @require '../paragraph'
