div.editor
    // Take as much width as possible, but no more than 48 em.
    max-width: 48em
    width: 100%
    min-height: 100%

    text-align: justify

    font-family Noto Serif, sans-serif
    font-size 13px

    // For elements down the stack to adjust themselves
    --margin-inline-start: 24px
    --margin-inline-end: 24px

    // Add padding around page contents
    padding: 32px 0 32px 0
    > *
        margin-left: 24px
        margin-right: 24px

    // Element styles
    @require '../admonition'
    @require '../exercise'
    @require '../figure'
    @require '../media'
    @require '../paragraph'
    @require '../section'
    @require '../title'


// Styles for other components not embedded in div.editor.
@require '../toolbar'
