div.exercise
    border-inline-start: 4px solid gray
    margin-inline-start: calc(var(--margin-inline-start) - 12px)
    padding-inline-start: 8px

    > ::before
        display: block
        color: gray

    > * > :first-child
        margin-top: 0

    > div.exercise-problem::before
        content: 'Problem: '

    > div.exercise-solution::before
        content: 'Solution: '

    > div.exercise-commentary::before
        content: 'Commentary: '
