{
    presets: [
        "@babel/preset-env",
        "@babel/preset-react",
    ],
    plugins: [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
    ],
    env: {
        build: {
            // Disable handling of ES6 modules, as Rollup will take care
            // of them.
            presets: [
                ["@babel/preset-env", { modules: false }],
            ],
        },
    },
}
