div.admonition
    border-inline-start: 4px solid var(--color)
    margin-inline-start: calc(var(--margin-inline-start) - 12px)
    padding-inline-start: 8px

    > :first-child:not(.title)::before
        content: var(--title) ': '
        display: block
        color: gray

    &[data-type="note"]
        --title: "Note"
        --color: gray

    &[data-type="warning"]
        --title: "Warning"
        --color: yellow

    &[data-type="tip"]
        --title: "Tip"
        --color: gray

    &[data-type="important"]
        --title: "Important"
        --color: red
