section
    margin: 0

    > *
        margin-inline-start: var(--margin-inline-start)
        margin-inline-end: var(--margin-inline-end)

    &::before
        content: 'Section'
        display: block

        margin-inline-start: var(--margin-inline-start)
        margin-inline-end: var(--margin-inline-end)
        border-block-start: 1px dashed rgba(#000, 0.12)
        color: rgba(#000, 0.38)
