div.system-panels
    z-index: 3

    background-color #fafafa
    box-shadow: 0 2px 4px 2px alpha(#333, 0.4)

    @require 'ToolBar'

    > div.menubar
        border-bottom: 1px solid rgba(#000, 0.12)

div.document
    flex: 1
    overflow-y: auto

    > div.editor
        margin-left: auto
        margin-right: auto
