img
    // CSS ingeniously defaults `display` on `img`s to `inline`.
    display: block

    // Maintain aspect ratio while scaling to fit in containers.
    min-width: 100%
    max-width: 100%
    margin-left: auto
    margin-right: auto
