div.snack-bar
    // position: absolute
    position: fixed
    left: 0
    right: 0
    bottom: 0
    z-index: 10000
    height 48px + 2 * 24px

    pointer-events: none

div.snack-bar > div.snack
    min-width: 288px
    max-width: 568px
    height: 48px
    line-height: 20px

    border-radius: 2px
    padding: 14px 24px
    margin 24px

    position: absolute
    display: inline-flex
    pointer-events: all

    color: white
    background-color: #323232
    box-shadow: 0 3px 6px 3px alpha(#333, 0.4)

    animation: snackbar-enter cubic-bezier(0.4, 0.0,   1, 1) 160ms

    &.exiting
        animation: snackbar-exit cubic-bezier(0.0, 0.0, 0.2, 1) 150ms forwards

    > span.text
        flex: 1

    > span.action
        margin-left: 48px
        text-transform: uppercase
        cursor: pointer

    @keyframes snackbar-enter
        from
            transform: translateY(48px + 24px)

    @keyframes snackbar-exit
        to
            transform: translateY(48px + 24px)
