div.render-targets
    width: 100%
    max-width: 360px
    max-width: 50%

    margin-left: auto

    box-shadow: 0 8px 16px 8px alpha(#333, 0.4)

    background-color: #fafafa

    > div.target
        margin: 0 8px
        padding: 8px

        &:hover
            cursor: pointer
            box-shadow: 0 2px 4px 2px alpha(#333, 0.4)
