// Copyright 2018 OpenStax Poland
// Licensed under the MIT license. See LICENSE file in the project root for
// full license text.

figure
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center

    // Figures should be displayed in two lines: content in first and caption
    // in second.
    > :not(figcaption)
        // When an element with `min-width: 0` (the default) and `flex` set is
        // in the same  container as an element with `min-width: 100%`
        // (`figcaption` in this case), it'll be shrunken to zero. To avoid this
        // we set an insignificant but still non-zero `min-width`.
        min-width: 1px
        flex: 1

        ~ :not(figcaption)
            // Ensure there's some spacing between adjacent subfigures.
            padding-left: 8px

    > figcaption
        text-align: start
        min-width: 100%

        // TODO: I18n
        &::before
            content: 'Figure ' counter(figure) ': '

    > figure
        // Figures will most likely have margin or padding designed to make them
        // fit into surrounding text. We don't want that for subfigures.
        margin: 0
        padding: 0
        counter-increment: subfigure

        // Subfigures use a different counter style.
        > figcaption::before
            // TODO: I18n
            content: '(' counter(subfigure, lower-latin) ') '
