div.upload
    align-self: center

    max-width: 8 * 64px

    padding: 32px 24px
    margin-left: auto
    margin-right: auto

    box-shadow: 0 8px 16px 8px alpha(#333, 0.4)
    border-radius: 2px
    background-color: #fafafa

    h2
        margin-top: 0

    div.drop-zone
        position: fixed
        left: 0
        top: 0
        right: 0
        bottom: 0
        pointer-events: none

        text-align: center

        &.target
            background-color: rgba(#000, 0.2)

            > i
                display: block

        > i
            display: none
            color: white
            margin-top: calc(50% - 14mm)
            font-size: 28mm

    // Hide that ugly native file input widget
    input[type="file"]
        display: none

    button.header
        padding: 16px

        > span
            display: block

    div.files
        margin: 16px 0px
        min-height: 48px

        > div.placeholder
            line-height: 48px
            text-align: center

    button
        width: 100%

    div.file
        height: 48px
        padding: 4px 0 4px 0

        display: grid
        grid: 1fr 1fr / min-content 1fr min-content
        grid-auto-flow: column
        align-items: center

        ~ div.file
            border-top: 1px solid rgba(#000, 0.12)

        > img
        > div.placeholder
            width: 40px
            height: 40px
            margin-right: 8px
            object-fit: cover

        > span.type
            font-style: italic

        > img
        > div.placeholder
        > i
            grid-row: span 2

        > i
            cursor: pointer
            margin-left: 8px
