@require 'mixins'
@require 'editor'


*
    box-sizing: border-box


body
    margin: 0
    padding: 0

    font-family: Noto Sans, sans
    font-size: 13px


div#root
    display: flex
    flex-direction: column

    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
