border-inline-start(args...)
    border-left: args
    border-inline-start: args

border-inline-end(args...)
    border-right: args
    border-inline-end: args

border-block-start(args...)
    border-top: args
    border-block-start: args

border-block-end(args...)
    border-bottom: args
    border-block-end: args

padding-inline-start(args...)
    padding-left: args
    padding-inline-start: args

padding-inline-end(args...)
    padding-right: args
    padding-inline-end: args

margin-inline-start(args...)
    margin-left: args
    margin-inline-start: args

margin-inline-end(args...)
    margin-right: args
    margin-inline-end: args
